#col1{
	position: relative;
	left: 50%;
	margin-left: -450px;
	width:910px;
	height:auto;
}
#col2{
	position: relative;
	left: 50%;
	margin-left:-460px;
	width:100%;
	height:auto;
}

.bigImage {
	width: 700px;
	height: 500px;
}

img {
	width: 100px;
	height: 100px;
}
.hidden {
	display :none;
}

.arrow{
	margin-bottom: 200px;
	cursor: pointer;
}

#details {
	width: 800px;
}